<%#
  <%= simple_form_for [@figure] do |f| %>
    <%# <%= f.input :name, label: 'Nom' %>
    <%# <%= f.input :manufacturer, label: 'Manufacturer' %>
    <%#= f.input :size, :collection => ["1/6","lifesize", "1/7", "1/8"], label: 'Size' %>
    <%#= f.input :type, :collection => ["Prepainted","Prize", "Resin", "Action/dolls", "Trading"], label: 'Type' %>
    <%#= f.input :price, label: 'Prix' %>
    <%#= f.input :photo, as: :file %>
    <%# <div class="d-grid mx-auto"> %>
      <%#= f.button:submit, 'Create', class: "btn btn-primary" %>
    <%# </div> %>
  <%# end %>
<%# </div> %>
